.background-slider {
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    background-size:cover;
    width:100%; 
    height:200px;
}

.cycle-slideshow {
    width: 100%;
    max-height: 200px;
    z-index: 2;
    position: relative;
}

.cycle-slideshow img {
    width:100%;
    height:auto;
    overflow:hidden;
    
}

.cycle-slideshow, .cycle-slideshow * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}


.cycle-pager {
    text-align: center; 
    width: 100%; 
    z-index: 500; 
    position: absolute; 
    bottom: 5px; 
    overflow: hidden;
}

.cycle-pager span { 
    font-family: helvetica;
    font-size: 3.2em; 
    width: 1em; 
    height: 1em; 
    margin-right:10px;
    display: inline-block; 
    color: $blue; 
    cursor: pointer; 
}

.cycle-pager span:last-child {
    margin-right:0;
}

.cycle-pager span.cycle-pager-active { 
    color: $gold;
}
.cycle-pager > * { 
    cursor: pointer;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $blue;
    font-size: 2em;
    display: flex;
    padding: 0 15px;
    z-index: 200;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    > * {
        border-radius: 50%;
        padding: 3px 13px 5px 10px;
    }
    
    > span:last-child {
        margin-left: auto;
        text-align: right;
        padding: 3px 10px 5px 13px;
    }
    
    > span:hover {
        background-color: $gold;
        cursor: pointer;
    }
    
}

.project-images {
    display: flex;
    flex-direction: column;
    // transition:position 1s ease;
    > * {
        margin-bottom: 25px;
    }
    
    > div:last-of-type {
        margin-bottom: 0;
    }
    
    &.right {
        position: absolute;
        right: 99999999px;
    }
    
    &.left {
        position: absolute;
        right: -99999999px;
    }
    
}

.small-controls {
    width: 80%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row-reverse;
    div {
        width: 130px;
        color: $gold;
        font-size: 1.9em;
        box-sizing: border-box;
        padding: 20px 15px;
        border: 2px solid $gold;
        box-shadow: inset -4px -1px 41px 1px #a1a2ad;
        display: flex;
        justify-content: space-around;
        > * {
            cursor: pointer;
        }
        
        > *:hover {
            color: red;
        }
        
    }
}



@media screen and (min-width:768px) {
    .background-slider {
        height:300px;
    }
    
    .cycle-slideshow {
        max-height: 300px;
    }
    .controls {
        font-size: 2.5em;
    }
    
    .project-images {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content : space-around;
            > * {
                width: 40%;
                margin-bottom: 55px;
                max-height: 300px;
            }
    }
    
}

@media screen and (min-width:1200px) {
    .background-slider {
        height:400px;
    }
    
    .cycle-slideshow {
        max-height: 400px;
    }
    
    .controls {
        font-size: 3em;
        transform: translateY(0);
        > * {
            border-radius: 50%;
            padding: 3px 13px 5px 10px;
        }
        
        > div:last-child {
            margin-left: auto;
            text-align: right;
            padding: 3px 10px 5px 13px;
        }
    }
}

@media screen and (min-width:1600px) {
     .background-slider {
        height:450px;
    }
}